
<!-- Toolbar -->
<nav class="toolbar">
  <div class="title">
    <a href="/"><span>TicTacToe</span></a>
  </div>
</nav>

<div class="wrapper">
  <!-- TicTacToe -->
  <div class="tictactoe">
    <app-tictactoe></app-tictactoe>
  </div>
</div>

<router-outlet></router-outlet>
