.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 10px;
  display: flex;
  height: fit-content;
  background-color: black;
  color: white;
  border-bottom: 1px white solid;
}
.title {
  font-size: 300%;
  margin: 0 auto;
}

.tictactoe {
  height: 100%;
  width: 100%;
}
