<header>
  <div class="beforeGame">
    <form (submit)="setGame()">
      <div id="player-1" class="layer">
        <span class="instruction">Player 1</span>
        <div class="choice">
          <input required type="radio" id="human-player-1" name="player-1" value="human">
          <label for="human-player-1">Human</label>
        </div>
        <div class="choice">
          <input type="radio" id="idiot-bot-player-1" name="player-1" value="IA">
          <label for="idiot-bot-player-1">IA</label>
          <select type="select">
            <option value="0">Idiot Bot</option>
            <option value="1">Heuristic Bot</option>
            <option value="2">Minimax Bot</option>
          </select>
        </div>
      </div>

      <div  id="player-2" class="layer">
        <span class="instruction">Player 2</span>
        <div class="choice">
          <input required type="radio" id="human-player-2" name="player-2" value="human">
          <label for="human-player-2">Human</label>
        </div>
        <div class="choice">
          <input type="radio" id="IA-player-2" name="player-2" value="IA">
          <label for="IA-player-2">IA</label>
          <select type="select">
            <option value="0">Idiot Bot</option>
            <option value="1">Heuristic Bot</option>
            <option value="2">Minimax Bot</option>
          </select>
        </div>
      </div>

      <div  id="firstPlayer" class="layer">
        <span class="instruction">Who starts ?</span>
        <div class="choice">
          <input required type="radio" id="first-player-1" name="first" value="1">
          <label for="first-player-1">1</label>
        </div>
        <div class="choice">
          <input type="radio" id="first-player-2" name="first" value="2">
          <label for="first-player-2">2</label>
        </div>
        <div class="choice">
          <input type="radio" id="random" name="first" value="?">
          <label for="random">?</label>
        </div>
      </div>

      <div id="first-player" class="layer">
        <span class="instruction">In which size do you wanna play ?</span>
        <div class="choice">
          <input required type="text" id="textArea" class="textArea" pattern="\d{1,5}" title="Only digits">
        </div>
      </div>

      <div id="board-length" class="layer">
        <button style="width: 98vw;">Go</button>
      </div>
    </form>

  </div>
  <div class="inGame">
    <span>{{ this.game.gameType }}</span>
    <span class="turnCounter">Turn {{this.game.turnNumber +1}}</span>
  </div>
  <div class="gameOver">
    <span>Game Over</span>
    <span class="turnCounter">Turn {{this.game.turnNumber +1}}</span>
  </div>
</header>

<div class="squareContainer">
  <div class="square">
    <table class="boardContainer"></table>
  </div>
</div>

<footer>
  <div class="inGame">
    <button (click)='eraseHTMLBoard();'>Close</button>
    <button (click)='clearHTMLBoard();'>Reset</button>
    <span class="turnCounter">{{this.game.whoIsPlaying.name}}, {{this.game.whoIsPlaying.getSymbol()}} to play..</span>
  </div>
  <div class="gameOver">
    <button (click)='eraseHTMLBoard();'>Close</button>
    <button id="reset-button" (click)='clearHTMLBoard();'>Reset</button>
    <span class="turnCounter">{{this.game.winner.name}}, {{this.game.winner.getSymbol()}} wins.</span>
  </div>
</footer>

