header {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding: 1%;

  font-size: 350%;

  .beforeGame {
    margin-top: 3%;
    display: flex;
    position: center;
    width: 100%;
    color: white;
    flex-direction: column;

    .layer {
      display: flex;
      width: 100%;

      margin-bottom: 5%;

      .instruction {
        display: flex;
        width: 60%;

        flex-basis: auto;
        flex-grow: 1;
      }

      .choice {
        display: flex;
        width: 50%;
        flex-grow: 1;

        padding-right: 1%;

        input[type="radio"] {
          display: flex;
          margin-top: 5px;
          width: 30px;
          height: 50px;
        }

        input[type="text"] {
          display: flex;
          font-size: 100%;
          text-align: center;
          height: fit-content;
          width: 100%;
        }

        label {
          margin-left: 5%;
        }

        select {
          font-size: 30%;
          margin-left: 5%;
        }

        #textArea:invalid {
          color: red;
        }
      }
    }
    button {
      background-color: black;
      margin-right: 1%;

      font-size: 100%;
      color: white;
      border: white 1px solid;
    }
  }

  .inGame {
    position: center;
    width: 100%;

    display: none;

    span {
      width: 56%;
    }

    .turnCounter {
      width: 88%;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }

  .gameOver {
    position: center;
    width: 100%;

    display: none;

    span {
      width: 56%;
    }

    .turnCounter {
      width: 88%;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }

  span {
    width: 90%;
  }
}

.squareContainer {

  display: none;
  position: relative;
  max-width: 700px;
  height: 72%;
  margin: 0 auto;

  .square {
    width: 100%;
    height: 0;
    position: absolute;
    display: inherit;

    .boardContainer {
      height: 100%;
      width: 100%;

      table-layout: fixed;
      position: absolute;
      top: 0;
      left: 0;

      background-color: black;

      border: 1px whitesmoke solid;
      border-collapse: collapse;

      text-align: center;
      color: white;
      // font-size: calc((75vw - 4.5rem) / 7) this setting looks nice when there is a huge board size
    }
  }
}

footer {
  width: 100%;
  display: flex;
  background-color: black;

  padding: 1%;
  margin-top: 5%;

  font-size: 350%;

  .inGame {
    position: center;
    width: 100%;

    display: none;

    .turnCounter {
      width: 88%;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }

  .gameOver {
    position: center;
    width: 100%;

    display: none;

    .winner {
      width: 86%;
      display: inline-block;
      float: right;
      text-align: right;
    }
  }

  button {
    background-color: black;
    margin-right: 1%;

    font-size: 100%;
    color: white;
    border: white 1px solid;
  }

  span {
    width: 90%;
    display: inline-block;
    float: right;
    text-align: right;
  }
}
