html,
body {
  margin: 0 !important;
  padding: 0 !important;
  cursor: default;
}

body {
  max-height: fit-content;
}

a, a:visited, a:hover {
  color: #1976d2;
  text-decoration: none;
}
a:hover {
  color: #125699;
}

* {
  box-sizing: border-box;
  // outline: 1px solid yellow;
}

span {
  color: white;
}

table td {
  box-sizing: border-box;
  border: 1px solid white;
  border-collapse: collapse;
}

td:hover {
  background-color: whitesmoke;
  color: black;
}

